/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(177, 47%, 76%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #edb562;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Estilos para los botones */
button {
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #2980b9;
}

/* Estilos para los inputs */
input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
  margin-bottom: 5px;
}

/* Estilos para los SweetAlerts */
.swal2-input {
  margin-bottom: 10px;
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #78b4ce;
  padding: 10px;
}

.menu button {
  padding: 8px 20px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.menu .dropdown {
  position: relative;
  display: inline-block;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #5685af;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

.menu .dropbtn {
  padding: 8px 20px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Estilo para las filas pares */
.table-row-even {
  background-color: #f2f2f2;
}

/* Estilo para las filas impares */
.table-row-odd {
  background-color: #ffffff;
}



